<div class="modal-open">
<div class="signPage">
  <div class="text-align">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <p>ニックネーム</p>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "ヤマダタロウ"  %>
      </div>

      <div class="field">
        <p>メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "example.com"  %>
      </div>

      <div class="field">
        <p>
          パスワード
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </p>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <p>パスワード確認</p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する",class: "btn btn-sign" %>
      </div>
    <% end %>
    <br>
    <hr>
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
