<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Rails" ,works_path(tag_name: "rails"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Vue" ,works_path(tag_name: "Vue"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# React" ,works_path(tag_name: "React"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Angular" ,works_path(tag_name: "Angular"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# PHP" ,works_path(tag_name: "PHP"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Laravel" ,works_path(tag_name: "Laravel"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Javascript" ,works_path(tag_name: "Javascript"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# AWS" ,works_path(tag_name: "AWS"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Firebase" ,works_path(tag_name: "Firebase"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Swift" ,works_path(tag_name: "Swift"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Java" ,works_path(tag_name: "Java"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Kotlin" ,works_path(tag_name: "Kotlin"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Go" ,works_path(tag_name: "Go"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Rust" ,works_path(tag_name: "Rust"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Scala" ,works_path(tag_name: "Scala"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Python" ,works_path(tag_name: "Python"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# C/C++" ,works_path(tag_name: "C/C++"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# C#" ,works_path(tag_name: "C#"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# R" ,works_path(tag_name: "R"),class: "text-white" %>
</span>