<span class="tag_link">
	<%=link_to "Rails" ,tag_path(tag_name: "Rails"), class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Vue.js" ,tag_path(tag_name: "Vue"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "React.js" ,tag_path(tag_name: "React"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Angular.js" ,tag_path(tag_name: "Angular"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "PHP" ,tag_path(tag_name: "PHP"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Laravel" ,tag_path(tag_name: "Laravel"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Javascript" ,tag_path(tag_name: "Javascript"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "AWS" ,tag_path(tag_name: "AWS"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Firebase" ,tag_path(tag_name: "Firebase"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Swift" ,tag_path(tag_name: "Swift"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Java" ,tag_path(tag_name: "Java"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Kotlin" ,tag_path(tag_name: "Kotlin"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Go" ,tag_path(tag_name: "Go"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Rust" ,tag_path(tag_name: "Rust"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Scala" ,tag_path(tag_name: "Scala"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "Python" ,tag_path(tag_name: "Python"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "C/C++" ,tag_path(tag_name: "C/C++"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "C#" ,tag_path(tag_name: "C#"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "R" ,tag_path(tag_name: "R"),class: "tag_text" %>
</span>
<span class="tag_link">
	<%=link_to "GAS" ,tag_path(tag_name: "GAS"),class: "tag_text" %>
</span>