<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Rails" ,tag_path(tag_name: "Rails"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Vue" ,tag_path(tag_name: "Vue"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# React" ,tag_path(tag_name: "React"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Angular" ,tag_path(tag_name: "Angular"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# PHP" ,tag_path(tag_name: "PHP"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Laravel" ,tag_path(tag_name: "Laravel"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Javascript" ,tag_path(tag_name: "Javascript"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# AWS" ,tag_path(tag_name: "AWS"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Firebase" ,tag_path(tag_name: "Firebase"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Swift" ,tag_path(tag_name: "Swift"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Java" ,tag_path(tag_name: "Java"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Kotlin" ,tag_path(tag_name: "Kotlin"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Go" ,tag_path(tag_name: "Go"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Rust" ,tag_path(tag_name: "Rust"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Scala" ,tag_path(tag_name: "Scala"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# Python" ,tag_path(tag_name: "Python"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# C/C++" ,tag_path(tag_name: "C/C++"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# C#" ,tag_path(tag_name: "C#"),class: "text-white" %>
</span>
<span class="badge badge-background mr-1 p-1">
	<%=link_to "# R" ,tag_path(tag_name: "R"),class: "text-white" %>
</span>