<div class="signPage">
    <div class="text-align">
      <h2>投稿する</h2>
        <%= form_for @work do |f| %>

          <p>トップ画像</p>
          <%= attachment_image_tag @work, :image, :fill, 300, 154,fallback: "no_image.jpg", size:'300x154', format: 'jpeg' %>
          <%= f.hidden_field :image %>

          <div class="field">
            <p>作品名</p>
            <div class="confirm-field"><%= @work.title %></div>
            <%= f.hidden_field :title %>
          </div>

          <div class="field">
            <p>紹介文</p>
            <div class="confirm-field"><%= @work.description %></div>
            <%= f.hidden_field :description  %>
          </div>

          <div class="field">
            <p>App URL</p>
            <div class="confirm-field"><%= @work.app_url %></div>
            <%= f.hidden_field :app_url %>
          </div>

          <div class="field">
            <p>YouTube URL</p>
            <div class="confirm-field"><%= @work.youtube_url %></div>
            <%= f.hidden_field :youtube_url %>
          </div>

          <div class="field">
            <p>カテゴリー</p>
            <div class="confirm-field"><%= @work.tag_list.join(',') %></div>
            <%= f.hidden_field :tag_list,value: @work.tag_list.join(',') %>
          </div>

          <span class="actions">
            <%= f.submit '戻る', name: 'back',class: "btn btn-left" %>
          </span>
          <span class="actions">
            <%= f.submit '投稿する',class: "btn btn-right" %>
          </span>
        <% end %>
    </div>
</div>