<% unless user_signed_in? %>
<div class="mv">
	<%= link_to "Ergonをはじめる",new_user_registration_path, class: "top_btn" %>
</div>
<% end %>
<div class="row">
	<div class="col-md-10">
	<% unless params[:tag_name] %>
		<h2>人気サービス</h2>
		<table class="table">
			<% @all_ranks.each do |work| %>
					<div class="work_box">
				      	<%= link_to(work_path(work)) do %>
				      	<%= attachment_image_tag work, :image, :fill, 190, 154,fallback: "no_image.jpg", size:'190x154', format: 'jpeg' %>
				      	<span id="work-<%= work.id %>-like1" class="like">
							    <%= render 'shared/likes', work: work, like: @like %>
						</span>
			　	      	<div class="work_box_item">
					      	<strong><%= work.title %></strong>
					      	<p>
							   <%= work.created_at.strftime('%Y/%m/%d') %>
							</p>
						</div>
				      	<% end %>
				    </div>
		  	<% end %>
		</table>
	<% end %>
	<hr>
	<% unless params[:tag_name] %>
		<h2>新規サービス</h2>
	<% else %>
		<h2><%= params[:tag_name] %></h2>
	<% end %>

	<table class="table">
		<% @works.each do |work| %>
		      	<div class="work_box">
			      	<%= link_to(work_path(work)) do %>
			      	<%= attachment_image_tag work, :image, :fill, 190, 154,fallback: "no_image.jpg", size:'190x154', format: 'jpeg' %><br>
			      	<div class="work_box_item">
				      	<strong><%= work.title %></strong>
				      	<p>
						   <%= work.created_at.strftime('%Y/%m/%d') %>
						</p>
					</div>
					<% end %>
				</div>
	  	<% end %>
	</table>
	</div>

	<div class="col-md-2">
		<% unless params[:tag_name] %>
			<h2>使用技術</h2>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Rails" ,works_path(tag_name: "rails"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Vue" ,works_path(tag_name: "Vue"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# React" ,works_path(tag_name: "React"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Angular" ,works_path(tag_name: "Angular"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# PHP" ,works_path(tag_name: "PHP"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Laravel" ,works_path(tag_name: "Laravel"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Javascript" ,works_path(tag_name: "Javascript"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# AWS" ,works_path(tag_name: "AWS"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Firebase" ,works_path(tag_name: "Firebase"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Swift" ,works_path(tag_name: "Swift"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Java" ,works_path(tag_name: "Java"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Kotlin" ,works_path(tag_name: "Kotlin"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Go" ,works_path(tag_name: "Go"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Rust" ,works_path(tag_name: "Rust"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Scala" ,works_path(tag_name: "Scala"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# Python" ,works_path(tag_name: "Python"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# C/C++" ,works_path(tag_name: "C/C++"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# C#" ,works_path(tag_name: "C#"),class: "text-white" %>
			</span>
			<span class="badge badge-background mr-1 p-1">
				<%=link_to "# R" ,works_path(tag_name: "R"),class: "text-white" %>
			</span>
		<% end %>
	</div>
</div>