<div class="row">
	<div class="col-md-10">
		<span>
			<%= render 'works/tag_list',tag_list: @work.tag_list %>
		</span>
		<button class="raised"><i class="fas fa-external-link-alt"></i>
			<%= Rinku.auto_link(@work.app_url, :all, 'target="_blank"').html_safe%>
		</button>
		<br>
		<br>
		<div>
			<%= attachment_image_tag @work, :image, :fill, 620, 320,fallback: "no_image.jpg", size:'620x320', format: 'jpeg' %>
		</div>
		<span id="work-<%= @work.id %>-like">
		    <%= render 'shared/likes', work: @work, like: @like %>
		</span>
		<h3>サービス名</h3>
		<p><%= @work.title %></p>

		<h3>サービス紹介</h3>
		<p class="description"><%= @work.description %></p>

		<h3><i class="fab fa-youtube"></i> 紹介動画</h3>
		<div>
			<iframe width="620" height="320" src="https://www.youtube.com/embed/<%= @work.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h4>コメント</h4>
		<% @comments.each do |comment| %>
			<div>
				<a href="/users/<%= @work.user.id %>"><%= comment.user.name %></a>
				<%= comment.content %>
				<hr>
			</div>
		<% end %>

		<%= form_for [@work,@comment] do |f| %>
			<%= f.text_field :content %>

			<%= f.submit "コメントする" %>
		<% end %>
	</div>

	<div class="col-md-2">
		<i class="far fa-clock"></i>
		<span>
		   <%= @work.created_at.strftime('%Y/%m/%d') %>
		</span>
		<P>作成者 : <%= link_to @work.user.name,user_path(@work.user) %></P>
		<%= link_to "投稿を編集",edit_work_path(@work) %>
	</div>
</div>