<% unless params[:tag_name] %>
	<h2 class="top-h2 top-h2-new">新規サービス</h2>
<% else %>
	<h2 class="h2"><%= params[:tag_name] %></h2>
<% end %>
<div class="top_area">
	<table class="table">
 		 <% @works.each do |work| %>
		  	<div class="work_box">
		      	<%= link_to(work_path(work)) do %>
		      	<%= attachment_image_tag work, :image, :fill, 190, 154,fallback: "no_image.jpg", size:'190x154', format: 'jpeg' %><br>
		      	<div class="work_box_item">
			      	<strong><%= work.title %></strong>
			      	<p>
					   <%= work.created_at.strftime('%Y/%m/%d') %>
					</p>
				</div>
				<% end %>
			</div>
		<% end %>
	</table>
</div>