<div class="user_show">
	<div class="user_profile">
		<%= attachment_image_tag @user, :image, :fill, 105, 105,fallback: "no_image_man.jpg", size:'105x105', format: 'jpeg',class: "rounded-circle" %>
		<p class="user_name"><%= current_user.name %></p>
		<P class="user_introduction"><%= @user.introduction %></P>
		<% if @user == current_user %>
			<%=link_to edit_user_path(current_user) do %>
				<span class="raised user_edit"><i class="fas fa-user-edit"></i></span>
			<% end %>
		<% end %>
	</div>
	<hr>
	<div class="user_posted">
		<!-- タブメニュー
		 activeクラスに、クリック済のデザインを設定したcssを指定 -->
		<ul class="tab clearfix">
		  <li class="active">投稿サービス</li>
		  <li>コメントした作品</li>
		  <li>いいねした作品</li>
		</ul>
		<!-- コンテンツ
		 全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
		<div class="area">
		  <ul class="show">
		    <div class="user_posted">
				<table class="table">
					<% @works.each do |work| %>
					  <tbody>
					    <tr>
					      	<div class="small_box">
						      	<div class="small_box_image">
							      	<%= link_to(work_path(work)) do %>
							      	<%= attachment_image_tag work, :image, :fill, 60, 40,fallback: "no_image.jpg", size:'60x40', format: 'jpeg' %>
							      	<% end %>
						      	</div>
						      	<div class="small_box_item_user">
						      		<%= link_to(work_path(work)) do %>
							      	<strong><%= work.title %></strong>
							      	<p>
									   <%= work.created_at.strftime('%Y/%m/%d') %>
									</p>
									<% end %>
								</div>
					      	</div>
					    </tr>
					  </tbody>
				  	<% end %>
				</table>
			</div>
		  </ul>
		  <ul>
		  	<div class="user_posted">
				<table class="table">
					<% @comments.each do |comment| %>
					  <tbody>
					    <tr>
					      	<div class="small_box">
						      	<% work = Work.find_by(id: comment.work_id) %>
						      	<div class="small_box_image">
							      	<%= link_to(work_path(work)) do %>
							      	<%= attachment_image_tag work, :image, :fill, 60, 40,fallback: "no_image.jpg", size:'60x40', format: 'jpeg' %>
							      	<% end %>
						      	</div>
						      	<div class="small_box_item_user">
						      		<%= link_to(work_path(work)) do %>
							      	<strong><%= work.title %></strong>
							      	<p>
									   <%= work.created_at.strftime('%Y/%m/%d') %>
									</p>
									<% end %>
								</div>
					      	</div>
					    </tr>
					  </tbody>
				  	<% end %>
				</table>
			</div>
		  </ul>
		  <ul>
		  	<div class="user_posted">
				<table class="table">
					<% @likes.each do |like| %>
					  <tbody>
					    <tr>
					      	<div class="small_box">
						      <% work = Work.find_by(id: like.work_id) %>
						      	<div class="small_box_image">
							      	<%= link_to(work_path(work)) do %>
							      	<%= attachment_image_tag work, :image, :fill, 60, 40,fallback: "no_image.jpg", size:'60x40', format: 'jpeg' %>
							      	<% end %>
							    </div>
						      	<div class="small_box_item_user">
						      		<%= link_to(work_path(work)) do %>
							      	<strong><%= work.title %></strong>
							      	<p>
									   <%= work.created_at.strftime('%Y/%m/%d') %>
									</p>
									<% end %>
								</div>
					      	</div>
					    </tr>
					  </tbody>
				  	<% end %>
				</table>
			</div>
		  </ul>
		</div>
	</div>
</div>
