<!DOCTYPE html>
<html>
  <head>
    <title>Ergon</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div id="headerTopicContainer">
      <h1>
        <%=link_to root_path do %>
          <%=image_tag "ErgonLogo.png",class: "logo" %>
        <% end %>
      </h1>
    </div>

    <header id="headerContainer" class="articles-Wrapper">
          <ul class="clearfix header-center header-ul">
            <% if user_signed_in? %>
              <div class="left">
                <li><a href="/" class="btn2"><i class="fas fa-home"></i> トップ</a></li>
              </div>
              <div class="right">
                <li class="menu_single">
                  <%= link_to user_path(current_user) do %>
                  <%= attachment_image_tag current_user, :image, :fill, 40, 40,fallback: "no_image_man.jpg", size:'40x40', format: 'jpeg',class: "rounded-circle btn4 init-bottom" %>
                  <% end %>
                  <ul class="menu_second-level">
                    <li>
                      <%=link_to new_work_path do %>
                      <span class="btn4"><i class="fas fa-pen-square"></i> 投稿</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path,method: :delete do %>
                      <span class="btn4"><i class="fas fa-sign-out-alt"></i> ログアウト</span>
                      <% end %>
                    </li>
                  </ul>
                </li>
            <% else %>
                <li><a class="modal-open" data-target="con1"><span class="btn4 modal-link">新規登録</span></a>
                  <%= render 'field/registration_field' %>
                </li>
                <li><a class="modal-open" data-target="con2"><span class="btn4 modal-link">ログイン</span></a>
                  <%= render 'field/session_field' %>
                </li>
              </div>
            <% end %>
          </ul>
    </header>
   <!-- <div id="wrapper">
      <% unless user_signed_in? %>
      <div class="top-responsive">
        <h1>自分のサービスを世に出そう。</h1>
        <p>Ergonは個人が作ったサービスを気軽にみれる場所です。あなたも自分のサービスを投稿してみましょう！</p>
      </div>
      <div class="mv">
        <a class="modal-open" data-target="con1"><span class="top_btn modal-link">Ergonをはじめる</span></a>
                        <%= render 'field/registration_field' %>
      </div>
      <% end %> -->
    <div class="container content-center">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  </body>
</html>